body {
  margin: 0;
  font-family: "Mohave", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

h1,
h2 {
  font-family: "Zen Antique", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button,
img {
  user-select: none;
}

p {
  line-height: 1.8;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.header .navbar {
  position: absolute;
  background-color: #fff;
  width: calc(100vw - 100px);
  top: -10000%;
  padding: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.25s ease-in-out;
}

.header .navbar.open {
  top: calc(90px - 10px); /*???*/
}

.header .navbar ul li {
  margin: 40px 0;
}

.home {
  background: url("./starter-code/assets/home/background-home-mobile.jpg") no-repeat center/cover;
  height: calc(120vh + 1px);
}

.home .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% + 1px);
  text-align: center;
}

.destination {
  background: url("./starter-code/assets/destination/background-destination-mobile.jpg") no-repeat center/cover;
}

.crew {
  background: url("./starter-code/assets/crew/background-crew-mobile.jpg") no-repeat center/cover;
}

.technology {
  background: url("./starter-code/assets/technology/background-technology-mobile.jpg") no-repeat center/cover;
}

@media (min-width: 768px) {
  .home {
    background: url("./starter-code/assets/home/background-home-tablet.jpg") no-repeat center/cover;
  }

  .destination {
    background: url("./starter-code/assets/destination/background-destination-tablet.jpg") no-repeat center/cover;
  }

  .crew {
    background: url("./starter-code/assets/crew/background-crew-tablet.jpg") no-repeat center/cover;
  }

  .technology {
    background: url("./starter-code/assets/technology/background-technology-tablet.jpg") no-repeat center/cover;
  }
}

@media (min-width: 1024px) {

  .header .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
    position: relative;
    background-color: rgba(255,255,255,0.5);
    opacity: 90%;
    top: 0%;
    left: -10px;
    width: auto;
    transform: translateX(-10px);
    backdrop-filter: blur(4px);
    /*the line below makes sure that the function is working for all the browsers*/
    --webkit-backdrop-filter: blur(4px);
  }

  .header .navbar ul {
    display: flex;
  }

  .header .navbar ul li {
    margin: 0 40px;
  }

  .home {
    background: url("./starter-code/assets/home/background-home-desktop.jpg") no-repeat center/cover;
  }

  .home .overlay {
    flex-direction: row;
    text-align: left;
    max-width: 1000px;
    margin: auto;
  }

  .destination {
    background: url("./starter-code/assets/destination/background-destination-desktop.jpg") no-repeat center/cover;
  }

  .crew {
    background: url("./starter-code/assets/crew/background-crew-desktop.jpg") no-repeat center/cover;
  }

  .technology {
    background: url("./starter-code/assets/technology/background-technology-desktop.jpg") no-repeat center/cover;
  }
}